:root {
  --cycle: 1000ms;
  --iterations: 1;
  --timing: linear;
  --start: rotate(-75deg);
  --middle: rotate(-75deg);
  --stop: rotate(40deg);
}

.spinning {
  transform-origin: (30,40);
  transform: rotate(-70deg);
  width: 100%;
  -webkit-animation-name: spin;
  -webkit-animation-duration: var(--cycle);
  -webkit-animation-iteration-count: var(--iterations);
  -webkit-animation-timing-function: var(--timing);
  -moz-animation-name: spin;
  -moz-animation-duration: var(--cycle);
  -moz-animation-iteration-count: var(--iterations);
  -moz-animation-timing-function: var(--timing);
  -ms-animation-name: spin;
  -ms-animation-duration: var(--cycle);
  -ms-animation-iteration-count: var(--iterations);
  -ms-animation-timing-function: var(--timing);
  
  animation-name: spin;
  animation-duration: var(--cycle);
  animation-iteration-count: var(--iterations);
  animation-timing-function: var(--timing);
}

.spinning:hover {
  cursor: pointer;
}

/* .paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
} */

@-ms-keyframes spin {
  0% { -ms-transform: var(--start); }
  30% { -ms-transform: var(--stop); }
  50% { -ms-transform: var(--middle); }
  75% { -ms-transform: var(--stop); }
  100% { -ms-transform: var(--start); }
}
@-moz-keyframes spin {
  0% { -moz-transform: var(--start); }
  30% { -moz-transform: var(--stop); }
  50% { -moz-transform: var(--middle); }
  75% { -moz-transform: var(--stop); }
  100% { -moz-transform: var(--start); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: var(--start); }
  30% { -webkit-transform: var(--stop); }
  50% { -webkit-transform: var(--middle); }
  75% { -webkit-transform: var(--stop); }
  100% { -webkit-transform: var(--start); }
}
@keyframes spin {
  0%  { transform:var(--start); }
  30% { transform:var(--stop); }
  50% { transform:var(--middle); }
  75% { transform: var(--stop); }
  100% { transform:var(--start); }
}

.judge-container {
  display: flex;
  flex-flow: row wrap;
  width: 67%;
  justify-content: center;
}

.judge {
  position: relative;
}

.judge-pic__d {
  border: 5px solid blue;
}
.judge-pic__r {
  border: 5px solid red;
}

.RedX {
  position: absolute;
  left: -25px;
}

.newTag {
  position: absolute;
  left: -25px;
}

.button {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}

.button:hover {
  cursor: pointer;
}