:root {
  --cycle: 1000ms;
  --iterations: 1;
  --timing: linear;
  --start: rotate(-75deg);
  --middle: rotate(-75deg);
  --stop: rotate(40deg);
}

.title {
  font-family: 'Lucida Bright', Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
}

.spinning {
  transform-origin: (30,40);
  transform: rotate(-70deg);
  width: 100%;
  -webkit-animation-name: spin;
  -webkit-animation-duration: var(--cycle);
  -webkit-animation-iteration-count: var(--iterations);
  -webkit-animation-timing-function: var(--timing);
  -moz-animation-name: spin;
  -moz-animation-duration: var(--cycle);
  -moz-animation-iteration-count: var(--iterations);
  -moz-animation-timing-function: var(--timing);
  -ms-animation-name: spin;
  -ms-animation-duration: var(--cycle);
  -ms-animation-iteration-count: var(--iterations);
  -ms-animation-timing-function: var(--timing);
  
  animation-name: spin;
  animation-duration: var(--cycle);
  animation-iteration-count: var(--iterations);
  animation-timing-function: var(--timing);
}

.spinning:hover {
  cursor: pointer;
}

/* .paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
} */

@-ms-keyframes spin {
  0% { -ms-transform: var(--start); }
  30% { -ms-transform: var(--stop); }
  50% { -ms-transform: var(--middle); }
  75% { -ms-transform: var(--stop); }
  100% { -ms-transform: var(--start); }
}
@-moz-keyframes spin {
  0% { -moz-transform: var(--start); }
  30% { -moz-transform: var(--stop); }
  50% { -moz-transform: var(--middle); }
  75% { -moz-transform: var(--stop); }
  100% { -moz-transform: var(--start); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: var(--start); }
  30% { -webkit-transform: var(--stop); }
  50% { -webkit-transform: var(--middle); }
  75% { -webkit-transform: var(--stop); }
  100% { -webkit-transform: var(--start); }
}
@keyframes spin {
  0%  { transform:var(--start); }
  30% { transform:var(--stop); }
  50% { transform:var(--middle); }
  75% { transform: var(--stop); }
  100% { transform:var(--start); }
}

.judge-container {
  display: flex;
  flex-flow: row wrap;
  width: 67%;
  justify-content: center;
}

.judge {
  position: relative;
  margin: 0px 6px;
  border-radius: 4px;
  filter:drop-shadow(3px 3px 6px black);
}

.judge-pic__d {
  margin: 0px 6px;
  border: 5px solid RoyalBlue;
  border-radius: 4px;
  filter:drop-shadow(3px 3px 6px black);
}
.judge-pic__r {
  margin: 0px 6px;
  border: 5px solid Crimson;
  border-radius: 4px;
  filter:drop-shadow(3px 3px 6px black);
}

.RedX {
  position: absolute;
  left: -25px;
}

.slug {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 60%;
}

.cta {
  background: #e0e0e0;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15%;
}

@media (max-width: 400px) {
  .cta {
    position: absolute;
    width: 25%;
    height: 350px;
  }
  .button{
    position: absolute;
    left: -40%;
  }
  .slug {
    width: 50%;
  }
  h2 {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .cta {
    position: absolute;
    width: 25%;
    height: 350px;
  }
  .button{
    position: absolute;
    left: 0px;
  }
  .slug {
    width: 50%;
  }
  h2 {
    width: 50%;
  }}

.New {
  position: absolute;
  right:0px;
}

.button {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}

.button:hover {
  cursor: pointer;
}